{% extends 'dogovor_online/base.html' %}
{% block title %}
{{ deal }} {{ object }} | {{ seotitle }}
{% endblock %}
{% block main_content %}
<div class="main_heading">
    <h1>{{ deal }} {{ object }}</h1>
</div>

<span style="color:red; font-weight: bold">{{ error }}</span>
    {% for item in Objects %}
    {% for i in item.dogovors.all %}
    <form enctype='multipart/form-data' method="POST" action="{% url 'show_deal' i.url %}">
    {% endfor %}
    {% endfor %}
        {% csrf_token %}

            <div class="party">

                <h2>{{ party1 }}</h2>
                <div class="parties">
                {% for item in party1form %}

                    <div class="">
                <p class="name_field_form">{{item.label}}</p>
                <p class="field_form">{{item }}</p>
                        </div>

                {% endfor %}
                </div>
            </div>

            <div class="party">
                <h2>{{ party2 }}</h2>
                <div class="parties">
                {% for item in party2form %}
                    <div class="">
                <p class="name_field_form">{{item.label}}</p>
                <p class="field_form">{{item }}</p>
                    </div>

                {% endfor %}
                </div>
            </div>

            <div class="party">
            <h2>Характеристики {{ object }}</h2>
                <div class="parties">
                {% for item in typeForm %}
                    <div class="">
                <p class="name_field_form">{{item.label}}</p>
                <p class="field_form">{{item }}</p>
                    </div>

                {% endfor %}
            </div>
            </div>

            <div class="party">
            <h2>Данные договора </h2>
                <div class="parties">
                {% for item in dealForm %}
                    <div class="">
                <p class="name_field_form">{{item.label}}</p>
                <p class="field_form">{{item }}</p>
                    </div>

                {% endfor %}
            </div>
            </div>

        <button type="submit" class="btn btn-primary">Сформировать договор</button>
    </form>

{% endblock %}