a {
    text-decoration: none;
}

.container a:hover {
    border-bottom: 1px dashed;
}


.container {
    
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
}

.main_objects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
}


.parties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;

}

.parties h2 {
    margin-bottom: 30px;
}


.parties .name_field_form {
    margin-bottom: 5px;
}

.field_form > input {
    width:100%;
}

.party {
    padding: 20px;
    background-color: rgba(93, 207, 195, 0.2);
    border-radius: 20px;
    margin-bottom: 30px;

}