{% extends 'dogovor_online/base.html' %}
{% block css %}<link rel="stylesheet" href="{{ STATIC_URL}}/static/deal.css">{% endblock %}
{% block title %}
{{ deal }} {{ object }} | Страница предпросмотра с полями
{% endblock %}
{% block main_content %}
<div class="deal_heading">
    <h1>{{ deal }} {{ object }}</h1>
</div>
<div class="deal_params">
    <div class="">&emsp;{{ all_params.location }}</div>
    <div class="tac">{{ all_params.deal_number }}</div>
    <div class="tar">{{ all_params.date }}</div>
</div>
<p>&emsp;{{ all_params.sername_1 }} {{ all_params.name_1 }} {{ all_params.second_name_1 }},
    паспорт {{ all_params.pass_number_1 }} номер {{ all_params.pass_seriya_1 }} выдан {{ all_params.pass_given_data_1 }}
    , зарегистрирован(-а) по адресу: {{ all_params.registration_1}}, именуемый(-ая) в дальнейшем Продавец с одной стороны, и
    {{ all_params.sername_2 }} {{ all_params.name_2 }} {{ all_params.second_name_2 }},
    паспорт {{ all_params.pass_number_2 }}
    номер {{ all_params.pass_seriya_2 }} выдан {{ all_params.pass_given_data_2 }}, зарегистрирован(-а) по адресу:
    {{ all_params.registration_2}}, именуемый(-ая) в дальнейшем Покупатель с другой стороны,  совместно именуемые Стороны,
    заключили настоящий Договор о нижеследующем:
</p>
<div class="deal_heading">
    <h2>1. Предмет договора</h2>
</div>
<p>
1.1. Продавец продает, а Покупатель покупает на условиях, изложенных в настоящем Договоре, в собственность
    квартиру, площадью {{ all_params.full_space }} кв.м., состоящую из {{ all_params.rooms }} комнат(-ы),
    расположенную по адресу: {{ all_params.apart_address }}. Кадастровый номер: {{ all_params.kadastr_number }}.<br>
    1.2. Квартира принадлежит Продавцу на праве собственности. Право собственности на указанную
    квартиру подтверждается Выпиской из Единого государственного реестра недвижимости № {{ all_params.egrn}}.<br>
{% if all_params.registered %}
    1.3.На момент заключения Договора в квартире зарегистрированы следующие лица: {{ all_params.family }}.
    Продавец обязуется снять указанных лиц с регистрационного учета в течении 7-ми дней с момента
    подписания настоящего Договора.
    {% else %}
    1.3. На момент заключения Договора в квартире зарегистрированные лица отсутствуют.
    {% endif %}
    <br>
    1.4. На момент заключения Договора квартира никому не отчуждена, не заложена, не
    обещана, под арестом (запрещением) и в споре не состоит, ограничений в использовании не имеет.<br>
    1.5. Передача Продавцом квартиры, и принятие ее Покупателем осуществляются по
    подписываемому Сторонами Акту приема-передачи.
</p>
<div class="deal_heading">
    <h2>2. Права и обязанности Сторон</h2>
</div>
<p>
<span class="bold">2.1. Продавец обязан:</span> <br>
2.1.1. Передать Покупателю в собственность квартиру.<br>
2.1.2. Не связывать Покупателя какими-либо обязательствами по целевому использованию
квартиры.<br>
2.1.3. Предоставить все необходимые документы для заключения настоящего Договора и нести
полную ответственность за их достоверность.<br>
2.1.4. В случае расторжения настоящего Договора или признания его недействительным вернуть
Покупателю денежную сумму, указанную в п. 3.1 настоящего Договора.<br>
<span class="bold">2.2. Продавец вправе:</span> <br>
2.2.1. Требовать от Покупателя оплаты стоимости квартиры в размере, порядке и сроки,
предусмотренные настоящим Договором <br>
<span class="bold">2.3. Покупатель обязан:</span> <br>
2.3.1. Принять квартиру на условиях, предусмотренных настоящим Договором. <br>
2.3.2. Оплатить стоимость квартиры в размере и порядке, установленном настоящим Договором.<br>
<span class="bold">2.4. Покупатель вправе:</span> <br>
2.4.1. Требовать соразмерного уменьшения стоимости квартиры или расторжения настоящего
Договора в случае предоставления Продавцом заведомо ложной информации о квартире. <br>
2.5. Права и обязанности Сторон, не предусмотренные настоящим Договором, определяются в
соответствии с законодательством Российской Федерации.
</p>
<div class="deal_heading">
    <h2>3. Финансовые условия и порядок расчетов</h2>
</div>
<p>
3.1. Стоимость квартиры составляет {{ all_params.price_digit }}({{ all_params.price_string }})
рублей, все платежи осуществляются в рублях. <br>
3.2. Цена квартиры является фиксированной и пересмотру не подлежит.<br>
3.3. Оплата стоимости квартиры производится
{% if all_params.payment == 'Cash' %}
    наличными денежными средствами. Продавец выдает Покупателю расписку в получении денежных средств.
{% elif all_params.payment == 'Online' %}
    банковским переводом по реквизитам расчетного счета Покупателя, указанным в разделе 8 Договора.
{% elif all_params.payment == 'Accredit' %}
    с ипользованиме банковского аккредитива.
{% endif %}
    <br>
3.4. Стороны согласовали вопросы, связанные с расчетами по коммунальным услугам и плате за
электроэнергию в отношении квартиры и не имеют в этой связи взаимных претензий. <br>
</p>
<div class="deal_heading">
    <h2>4. Государственная регистрация</h2>
</div>
<p>
4.1. Настоящий Договор вступает в силу и считается заключенным с момента его подписания
обеими Сторонами.<br>
4.2. Расходы, связанные с государственной регистрацией права собственности Покупателя,
оплачиваются за счет Покупателя.<br>
4.3. Покупатель приобретает право собственности на квартиру после государственной
регистрации перехода прав собственности.
</p>
<div class="deal_heading">
    <h2>5. Ответственность сторон и форс-мажорные обстоятельства</h2>
</div>
<p>
5.1. За неисполнение или ненадлежащее исполнение обязательств по настоящему Договору
Стороны несут ответственность, предусмотренную действующим законодательством Российской
Федерации.<br>
5.2. Сторона, необоснованно уклоняющаяся от государственной регистрации перехода права
собственности, должна возместить другой Стороне убытки, вызванные задержкой регистрации.<br>
5.3. Стороны освобождаются от ответственности за частичное или полное неисполнение
обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств
непреодолимой силы, возникших после заключения настоящего Договора в результате обстоятельств
чрезвычайного характера, которые Стороны не могли предвидеть или предотвратить.<br>
5.4. При наступлении обстоятельств, указанных в п. 5.3 настоящего Договора, каждая Сторона
должна без промедления известить о них в письменном виде другую Сторону.<br>
5.5. Извещение должно содержать данные о характере обстоятельств, а также официальные
документы, удостоверяющие наличие этих обстоятельств и, по возможности, дающие оценку их влияния
на возможность исполнения Стороной своих обязательств по настоящему Договору.<br>
5.6. В случае наступления обстоятельств, предусмотренных в п. 5.3 настоящего Договора, срок
выполнения Стороной обязательств по настоящему Договору отодвигается соразмерно времени, в
течение которого действуют эти обстоятельства и их последствия.<br>
5.7. Если наступившие обстоятельства, перечисленные в п. 5.3 настоящего Договора, и их
последствия продолжают действовать более 2 (Двух) месяцев, Стороны проводят дополнительные
переговоры для выявления приемлемых альтернативных способов исполнения настоящего Договора.<br>
5.8. До подписания Акта приема-передачи риск случайной гибели или случайного повреждения
отчуждаемого имущества и ответственность за его сохранность несет Продавец.
</p>
<div class="deal_heading">
    <h2>6. Разрешение споров</h2>
</div>
<p>
6.1. Все споры и разногласия, которые могут возникнуть при исполнении условий настоящего
Договора, Стороны будут стремиться разрешать путем переговоров.<br>
6.2. Споры, не урегулированные путем переговоров, разрешаются в судебном порядке,
установленном действующим законодательством Российской Федерации.
</p>
<div class="deal_heading">
    <h2>7. Прочие условия</h2>
</div>
<p>
7.1. Все изменения и дополнения к настоящему Договору должны быть совершены в письменной
форме и подписаны уполномоченными представителями Сторон.<br>
7.2. Настоящий Договор составлен в 3 (Трех) экземплярах, имеющих равную юридическую силу,
один из которых находится у Продавца, второй – у Покупателя, третий – в органе, осуществляющем
государственную регистрацию прав на недвижимое имущество и сделок с ним.<br>
7.3. Во всем остальном, что не урегулировано настоящим Договором, Стороны руководствуются действующим законодательством
Российской Федерации.</p>
<div class="deal_heading">
    <h2>8. Реквизиты и подписи сторон</h2>
</div>
<div class="parties_small">
    <div>
        <p>
            <span class="bold">Продавец</span><br>
            {{ all_params.sername_1 }} {{ all_params.name_1 }} {{ all_params.second_name_1 }}<br>
            Регистрация: {{ all_params.registration_1}}<br>
            Паспорт: серия {{ all_params.pass_seriya_1 }} номер {{ all_params.pass_number_1 }}<br>
            выдан {{ all_params.pass_given_1 }} {{ all_params.pass_given_data_1 }}<br>
            {% if all_params.payment == 'Online' %}
            Банк: {{ all_params.bank }}<br>
            БИК: {{ all_params.bik}}<br>
            Р/с: {{ all_params.score }}<br>
            {% endif %}
            Телефон: {{ all_params.phone_1 }}
        </p>
            ________________/_______________________________

    </div>
    <div>
        <p>
            <span class="bold">Покупатель</span><br>
            {{ all_params.sername_2 }} {{ all_params.name_2 }} {{ all_params.second_name_2 }}<br>
            Регистрация: {{ all_params.registration_2}}<br>
            Паспорт: серия {{ all_params.pass_seriya_2 }} номер {{ all_params.pass_number_2 }} <br>
            выдан {{ all_params.pass_given_2 }} {{ all_params.pass_given_data_2 }}<br>
            Телефон: {{ all_params.phone_2 }}
        </p>
            ________________/_______________________________

    </div>
</div>


<a href="{% url 'to_word' %}">Экспорт в Word</a>

{% endblock %}